<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row padding>
    <ion-text>
      <h4 no-margin class="medium"><strong>Push Notifications</strong></h4>
    </ion-text>
  </ion-row>
  <ion-list lines="none">
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>System Reminders</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>General,admin and Updates</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>
    <div class="sep"></div>
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Deals and Promotions</h4>
          </ion-row>
          <ion-row>
            <h4 class="small" no-margin>Daily deals, promotions, and flash sales</h4>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox float-right checked="true"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-item>


  </ion-list>
</ion-content>
