
.my-btn{
    border: unset !important;
    border-radius: 5px !important;
    color: rgb(250, 250, 250);
    margin: 0 12px !important;
    width: 50%;
    --background-checked: transparent;
    min-height: 20px;
}

.text {
    font-size: 12px;
    padding-bottom: 5px;
}

.rw-width {
    padding-left: 16px;
    padding-right: 16px;
}

.cl-lay {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}