<ion-app>
	<ion-menu side="start" menuId="first" contentId="content1">
		<ion-header>
			<ion-toolbar color="primary" >
          <ion-row padding-horizontal align-items-center>
            <ion-col size="3" padding-vertical align-items-center>
            </ion-col>
            <ion-col padding-vertical align-items-center>
              <div margin-vertical>
                <h4 no-margin margin-start class="medium white"><strong>Enter to your account</strong></h4>
              </div>
             </ion-col>
             <ion-col>
                <ion-segment class="segSection">
                  <ion-segment-button class="my-btn" no-margin no-padding>
                    <ion-text padding-horizontal class="text">Log in to your account</ion-text>
                  </ion-segment-button>
                </ion-segment>
            </ion-col>
          </ion-row>
        </ion-toolbar>
		</ion-header>
		<ion-content>
			<ion-menu-toggle auto-hide="false" *ngFor="let pages of appPages">
                <ion-item detail="false" lines="none" [routerDirection]="forward" [routerLink]="[pages.url]">
            		<ion-icon slot="start" [name]="pages.icon" class="sidemenu-icon"></ion-icon>
            			<ion-label>
              				{{pages.title}}
             			</ion-label>
          		</ion-item>
        	</ion-menu-toggle>
			<div class="line"></div>
			<ion-menu-toggle auto-hide="false" *ngFor="let pages of appPages2">
                <ion-item detail="false" lines="none" [routerDirection]="forward" [routerLink]="[pages.url]">
            		<ion-icon slot="start" [name]="pages.icon" class="sidemenu-icon"></ion-icon>
            			<ion-label>
              				{{pages.title}}
             			</ion-label>
          		</ion-item>
        	</ion-menu-toggle>
		</ion-content>
	</ion-menu>
	<ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>
