<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text><h3 class="title">Sign Up</h3></ion-text>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" placeholder="First Name" [(ngModel)]="first_name" class="input"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="text" placeholder="Last Name" [(ngModel)]="last_name" class="input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="primary"><strong class="white">Create an Account</strong></ion-button>
      </ion-col>
    </ion-row>
    <div class="line"></div>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="fb"><ion-img src="assets/images/facebook_logo.png" slot="start" class="logo"></ion-img>Facebook</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" fill="outline" color="success"><ion-img src="assets/images/google_logo.png" slot="start" class="logo"></ion-img>Google</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" fill="outline" color="primary" routerLink="/login"><strong>Have an account? Log In</strong></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text color="medium"><h6 class="small"><a>Terms of Use</a> and <a>Privacy Policy</a></h6></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>