<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Email Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">

    <div class="sep"></div>
    <ion-item>
      <ion-row class="full">
        <ion-col>
          <ion-row>
            <h4 class="medium" no-margin>Deals and Promotions</h4>
          </ion-row>
          <ion-row>
            <h6 class="small" no-margin>Daily deals, promotions, and flash sales</h6>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-item>


  </ion-list>
</ion-content>
