<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>CompareX</ion-title>
		<ion-buttons slot="end">
		<ion-button size="small" fill="clear">
			<ion-icon name="cart-sharp" slot="icon-only" no-margin class="top-btn"></ion-icon>
		</ion-button>
	    </ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
    <ion-searchbar placeholder="Type to Search.." animated></ion-searchbar>
    <ion-card>
  		<ion-card-content>
  			<ion-grid>
    		<ion-row>
			    <ion-col>
			      category1
			    </ion-col>
			    <ion-col>
			      category2
			    </ion-col>
			    <ion-col>
			      category3
			    </ion-col>
			    <ion-col>
			      category4
			    </ion-col>
			  </ion-row>
			</ion-grid>
  		</ion-card-content>
</ion-card>
</ion-content>
