<ion-header>
  <ion-toolbar>
    <ion-title>
      CompareX
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
<ion-card>
  <ion-card-header>
  	<ion-avatar>
  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
</ion-avatar>
    <ion-card-title>CompareX</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Price Comparison App for checking price of different product from popular websites.
  </ion-card-content>
</ion-card>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/sign-up']" expand="block" color="primary">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/login']" expand="block" color="danger">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>